<div>
  <h3><%= @restaurant.id %> <%= @restaurant.name %> </h3>
  <h3>Owner: <%= @restaurant.owner.name %></h3>
  <h3>Category: <%= @restaurant.category.name %></h3>
  <%= link_to("Back", restaurants_path) %>
</div>
